.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  max-width: 300px;
  margin: 30px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.05);
  padding: 20px;
}

.card img {
  width: 80%;
}
